.menu-div {
    background-color: gray;
    z-index: 1000;
    width: 15vw;
    height: 200px;
    position: fixed;
    top: 100px;
}

#left-ctrl{
    background-color: blue;
}

#right-ctrl{
    left: 100%;
}

.menu-btn {
    margin: 0px 5px 0 5px;
    height: 50px;
    width: 100%;
    border: 1px solid black;
}